body {
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

/*Container for header, nav*/
#masthead {
    width: 90%;
    margin: 0 5%;
    padding: 0;
    position: relative;
    border-bottom: 1px solid #EEE; /*grey 200*/
    background: #FAFAFA; /*grey 50*/
}

#masthead::before {
    width: 1200px;
    content:  "";
    position: absolute;
    top: 0;
    bottom: -1px; /*compensates for the 1px border*/
    left: 100%;
    border-bottom: 1px solid #EEE; /*grey 200*/
    background: #FAFAFA; /*grey 50*/
}

#masthead::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: -1px; /*compensates for the 1px border*/
    width: 1200px;
    right: 100%;
    border-bottom: 1px solid #EEE; /*grey 200*/
    background: #FAFAFA; /*grey 50*/
}

header {
    margin: 0;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
}

nav {
    margin: 0;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
}

/*The menu and its media queries*/
#menu {
    width: 50%;
    max-width: 80px;
    margin: 0 0 1em 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: .875em;
    line-height: 2.2;
    font-weight: 700;
    color: #FFF;
    background: #001F99; /*dark magenta*/
    text-align: center;
    cursor: pointer;
}

ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

/*Media queries 300px*/
@media (min-width: 300px) {
    #masthead {
        display: flex;
        flex-flow: column;
        justify-content: flex-start; /*main axis*/
        align-items: flex-start; /*cross axis*/
    }

    header {
        width: 50%;
    }

    nav {
        width: 50%;
    }

    #menu {
        display: block;
    }

    ul {
        display: none;
        flex-flow: column;
        justify-content: flex-start; /*main axis*/
        align-items: flex-start; /*cross axis*/
    }
}

/*Media queries 600px*/
@media (min-width: 600px) {
    #masthead {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start; /*main axis*/
        align-items: center; /*cross axis*/
    }

    header {
        width: 30%;
    }

    nav {
        width: 70%;
    }

    #menu {
        display: none;
    }

    ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between; /*main axis*/
        align-items: center; /*cross axis*/
    }
}

.selected {
    color: #F23005; /*orange*/
    text-decoration: none;
}

section {
    width: 90%;
    margin: 0 5%;
    padding: 0;
}

/*Fonts and their media queries*/
h1 {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-weight: 700;
}

h1 a {
    color: #000;
    text-decoration: none;
}

h1 a:hover {
    text-decoration: none;
}

p {
    font-family: 'Roboto', serif;
    line-height: 1.8;
    font-weight: 400;
}

li {
    font-family: 'Open Sans', sans-serif;
    line-height: 2;
    font-weight: 400;
    text-transform: uppercase;
    flex: initial; /*flex: 0 1 auto*/
}

li a {
    color: #000;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

@media (min-width: 300px) {
    h1 {
        font-size: 1.25em;
    }

    p, li {
        font-size: .8125em;
    }
}

@media (min-width: 600px) {
    h1 {
        font-size: 1.5em;
    }

    p, li {
        font-size: .875em;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 1.75em;
    }

    p, li {
        font-size: 1em;
    }
}