body {
    margin: 0;
    padding: 0;
}

/*The container*/
#container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    border-bottom: 1px solid #c2c2c2;
    border-bottom: 1px solid rgba(194, 194, 194, 0.5);
    background: #f5f5f5;
}

/*The container's before and after pseudo-elements*/
#container::before {
    width: 3200px;
    content:  "";
    position: absolute;
    top: 0;
    bottom: -1px; /*compensates for the 1px border*/
    left: 100%;
    border-bottom: 1px solid #c2c2c2;
    border-bottom: 1px solid rgba(194, 194, 194, 0.5);
    background: #f5f5f5;
}

#container::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: -1px; /*compensates for the 1px border*/
    width: 3200px;
    right: 100%;
    border-bottom: 1px solid #c2c2c2;
    border-bottom: 1px solid rgba(194, 194, 194, 0.5);
    background: #f5f5f5;
}

/*The inner-container*/
#inner-container {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /*main axis*/
    align-items: flex-start; /*cross axis*/
}

/*The header and its media queries*/
header {
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
}

@media (min-width: 300px) {
    header {
        width: 90%;
        margin: 0 5%;
    }
}

@media (min-width: 1200px) {
    header {
        width: 25%;
        margin: 0 0 0 5%;
    }
}

/*The nav and its media queries*/
nav {
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
}

@media (min-width: 300px) {
    nav {
        width: 90%;
        margin: 0 5%;
    }
}

@media (min-width: 600px) {
    nav {
        width: 70%;
        margin: 0 25% 0 5%;
    }
}

@media (min-width: 700px) {
    nav {
        width: 65%;
        margin: 0 30% 0 5%;
    }
}

@media (min-width: 800px) {
    nav {
        width: 60%;
        margin: 0 35% 0 5%;
    }
}

@media (min-width: 900px) {
    nav {
        width: 55%;
        margin: 0 40% 0 5%;
    }
}

@media (min-width: 1000px) {
    nav {
        width: 50%;
        margin: 0 45% 0 5%;
    }
}

@media (min-width: 1100px) {
    nav {
        width: 45%;
        margin: 0 50% 0 5%;
    }
}

@media (min-width: 1200px) {
    nav {
        width: 65%;
        margin: 0 5% 0 0;
    }
}

/*The nav ul and its media queries*/
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (min-width: 300px) {
    nav ul {
        display: none;
    }
}

@media (min-width: 600px) {
    nav ul {
        flex: initial; /*flex: 0 1 auto*/
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start; /*main axis*/
        align-items: flex-start; /*cross axis*/
    }
}
       
/*The nav ul li and its media queries*/
nav li {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    color: #000;
    padding: 0;
    text-decoration: none;
    flex: initial; /*flex: 0 1 auto*/
}

nav li a {
    color: #000;
    text-decoration: none;
}

nav li a:hover {
    color: #000;
    text-decoration: underline;
}

.selected {
    color: #007ac1;
    text-decoration: none;
}

@media (min-width: 300px) {
    nav li {
        font-size: .75em;
        line-height: 2;
    }
}

@media (min-width: 600px) {
    nav li {
        /*font size inherited*/
        line-height: 3;
        flex: auto;
    }
}

@media (min-width: 1200px) {
    nav li {
        font-size: .875em;
        line-height: 6;
        /*flex inherited*/
        text-align: right;
    }
}

/*The menu and its media queries*/
#menu {
    width: 16%;
    margin: 0 0 .625em 0;
    padding: 2% 0;
    font: 700 .875em/1em 'Merriweather', serif;
    color: #fff;
    background: #007ac1;
    text-align: center;
    cursor: pointer;
}

@media (min-width: 600px) {
    #menu {
        display: none;
    }
}

/*The fonts and their media queries*/
h1 {
    font-family: 'Francois One', sans-serif;
    font-weight: 400;
    color: #000;
    margin: 0;
    padding: 0;
}

h1 a {
    color: #000;
    text-decoration: none;
}

h1 a:hover {
    text-decoration: none;
}

@media (min-width: 300px) {
    h1 {
        font-size: 1.25em;
        line-height: 2;
    }
}

@media (min-width: 600px) {
    h1 {
        font-size: 1.5em;
        /*line height inherited*/
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 1.75em;
        line-height: 3;
    }
}