body {
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    border-bottom: 1px solid #c2c2c2;
    border-bottom: 1px solid rgba(194, 194, 194, 0.5);
    background: #F0F1F2;
    background: #F2F5F4;
}

/*Container's pseudo-elements (before)*/
#container::before {
    width: 3200px;
    content:  "";
    position: absolute;
    top: 0;
    bottom: -1px; /*compensates for the 1px border*/
    left: 100%;
    border-bottom: 1px solid #c2c2c2;
    border-bottom: 1px solid rgba(194, 194, 194, 0.5);
    background: #F0F1F2;
    background: #F2F5F4;
}

/*Container's pseudo-elements (after)*/
#container::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: -1px; /*compensates for the 1px border*/
    width: 3200px;
    right: 100%;
    border-bottom: 1px solid #c2c2c2;
    border-bottom: 1px solid rgba(194, 194, 194, 0.5);
    background: #F0F1F2;
    background: #F2F5F4;
}

/*The inner-container*/
#inner-container {
    width: 90%;
    margin: 0 5%;
    padding: 0;
}

@media (min-width: 300px) {
    #inner-container {
        display: flex;
        flex-flow: column;
        justify-content: flex-start; /*main axis*/
        align-items: flex-start; /*cross axis*/
    }
}

@media (min-width: 600px) {
    #inner-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start; /*main axis*/
        align-items: center; /*cross axis*/
    }
}

header {
    width: 30%;
    margin: 0;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
}

nav {
    width: 70%;
    margin: 0;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
}

ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (min-width: 300px) {
    ul {
        display: flex;
        flex-flow: column;
        justify-content: flex-start; /*main axis*/
        align-items: flex-start; /*cross axis*/
        display: none;
    }
}

@media (min-width: 600px) {
    ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between; /*main axis*/
        align-items: center; /*cross axis*/
    }
}

.selected {
    color: #748C30;
    text-decoration: none;
}

/*The menu and its media queries*/
#menu {
    width: 20%;
    margin: 0 0 1em 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-size: .875em;
    line-height: 2.2;
    font-weight: 700;
    color: #fff;
    background: #007ac1;
    background: #1E2A41;
    text-align: center;
    cursor: pointer;
}

@media (min-width: 300px) {
    #menu {
        display: block;
    }
}

@media (min-width: 600px) {
    #menu {
        display: none;
    }
}

/*The fonts and their media queries*/
h1 {
    font-family: 'Francois One', sans-serif;
    font-weight: 400;
    color: #000;
    margin: 0;
    padding: 0;
}

h1 a {
    color: #000;
    text-decoration: none;
}

h1 a:hover {
    text-decoration: none;
}

@media (min-width: 300px) {
    h1 {
        font-size: 1.25em;
        line-height: 2;
    }
}

@media (min-width: 600px) {
    h1 {
        font-size: 1.5em;
        /*line height inherited*/
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 1.75em;
        line-height: 3;
    }
}